@model IEnumerable<WebApplication_Discoteca.Models.ViewModels.ViniloViewModel>

@{
    ViewData["Title"] = "Listado de vinilos";
}

<h2 class="mx-3">Listado de Vinilos</h2>

<p class="mx-3">
    <a asp-action="Create">Create New</a>
</p>

<form action="/Vinilos/Buscar" method="post" class="row row-cols-lg-auto g-2 align-items-center mx-3">
  <div class="col-6">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
    <div class="input-group">
            <input type="text" value="@ViewBag.textoBuscar" name="textoBuscar" class="form-control" placeholder="Buscador vinilos">
    </div>
  </div>
  <div class="col-6">
        <button type="submit" class="btn btn-success">Buscar</button>
  </div>
</form>

<table class="table table-bordered table-hover table-general">
    <thead class="table-success">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Titulo_disco)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre_artista)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Canciones)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-warning text-center">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Titulo_disco)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Nombre_artista)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Canciones)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="table-warning">
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td class="table-warning">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id  }, new {@class="btn btn-warning m-1 px-3 d-flex justify-content-center btn-sm"})
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class="btn btn-info d-flex justify-content-center  btn-sm"})
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                new {@class="btn btn-danger m-2 px-2 d-flex justify-content-center btn-sm", onclick="borrarVinilo(this); return false;"})
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function borrarVinilo(linkActual) {
        bootbox.confirm('Borramos el vinilo?', function(resultado) {
            if (resultado == true) {
                window.location = linkActual.href;
            }
        });
    }
</script>